*{
    margin: 0em;
    padding: 0em;
}


header{
background-color: black;
color: white;
flex-wrap: wrap;
font-family:Arial, Helvetica, sans-serif;
width: 100%;
}

li{
    display: inline;
    padding: 1em;
}

ul{
    text-align: center;
    padding: 2em;
}

ul li a {
    color: white;
    text-decoration: none;
  }

  
a:link{
    color: white
}

a:visited{
    color: #c1b5aa;
}

a:hover{
    color: #dddddd;
}

h1,h2,h3{
    text-align: center;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


h1{
    background-color: #efefef;  
}


p{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1%;
    line-height: 1.4em;
}

section article{
width: 33%
}

section article img{
    width: 100%;
}

section.drie_rij{
    display: flex;
    width: 100vw;
}

section.drie_rij img{
    border: 0.3em solid black;

}

section.afbeeldhome img{
    width: 320px;
    border: 0.3em solid black;
}

section.banner img{
    width: 100%;
    height: auto;
}

section.afbeeldhome{
    display: flex;
    justify-content: space-evenly;
    margin: 2em;
    padding: 0.5em;
}
section.upcyclen img{
    width: 320px;
}

section.upcyclen{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: #efefef;
    margin: 20px;
    padding: 10px;
    align-items: end;
    text-align: left;  
}

section.upcyclen p{
    padding-bottom: 5em;
    padding-left: 10px;
    padding-right: 50px;
}

section.upcyclen video{
    width: 320px;
}

article {
    background-color: #efefef ;
    padding-top: 4%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    text-align: center;
  }

article p a:link{
    color:rgb(159, 134, 99);
}

article p a:hover{
    color:black;
}
article.quote h2{
    color: white;
}
article.quote{
    background-color: black;
    color: white;
    text-align: center; 

}

article.kop_inspiratie{
    background-color: #c1b5aa;
}

article.trend_inspiratie{
background-color: #c1b5aa;
}

article.vintagehome {
    background-color: #c1b5aa;
}

article.quote-upcyclen{
    background-color: #c1b5aa;
}

div{ 
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    padding: 10px;
}


.winkel img{
    width: 320px;
    border: 4px solid #efefef;
}

section.winkel{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    padding: 10px;
    margin: 20px;
    padding: 10px;
    align-items: center;
    text-align: left;
}

section.winkel p{
    padding-left: 3em;
}

video{
    padding-right: 20px;
}



button{
    font-size: 1em;
    background-color:#c1b5aa;
    color: #efefef;
    border: none;
    padding: 0.5em;
    transition: all 450ms ease-out;
    display: block;
    align-items: center;
}

button:hover{
    border: 2px solid black;
    color: black;
    background: transparent;
    transform: translateY(-0.5em)
}

.button{
    display: flex;
    justify-content: center;
    padding-top: 1.5em;
}

footer{

    background-color: black;
    color: white;
    padding-top: 1%;
    padding-bottom: 4%;
    text-align: center;
}