* {
    margin: 0em;
    padding: 0em;
}

header {
    background-color: black;
    color: white;
    flex-wrap: wrap;
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
}

li {
    display: inline;
    padding: 1em;
}

ul {
    text-align: center;
    padding: 2em;
}

ul li a {
    color: white;
    text-decoration: none;
}
  
a:link {
    color: white
}

a:visited {
    color: #c1b5aa;
}

a:hover {
    color: #dddddd;
    text-decoration: underline;
}

h1,h2,h3 {
    text-align: center;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    background-color: #efefef;  
}

p {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1%;
    line-height: 1.4em;
}

section article {
    width: 33%
}

section article img {
    width: 100%;
}

section.drie_rij {
    display: flex;
    width: 100vw;
}

section.drie_rij img {
    border: 0.3em solid black;
    margin-bottom: 1.5em;
}

section.drie_rij h2,h3,p {
    margin-bottom: 0.5em;
}

section.drie_rij a {
    margin-bottom: 1em;
}

section.afbeeldhome img {
    width: 18em;
    border: 0.3em solid black;
}

section.banner img {
    width: 100%;
    height: auto;
}

section.afbeeldhome { 
    display: flex;
    justify-content: space-evenly;
    margin: 2em;
    padding: 0.5em;
}

section.upcyclen img {
    width: 20em;
}

section.upcyclen {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: #efefef;
    margin: 1em;
    padding: 0.5em;
    align-items: end;
    text-align: left;  
}

section.upcyclen p {
    padding-bottom: 5em;
    padding-left: 3em;
    padding-right: 5em;
}

section.upcyclen video {
    width: 20em;
}

section.link a {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color:#c1b5aa;
    color: #efefef;
    border: none;
    padding: 0.5em;
    transition: all 450ms ease-out;
    display: block;
    align-items: center;
    text-align: center;
    text-decoration: none;
    margin-top: 1em;
}

section.link a:hover {
    border: 0.2em solid black;
    color: black;
    background: transparent;
    transform: translateY(-0.5em)
}

.link {
    display: flex;
    justify-content: center;
}

section.link_twee a:hover {
    color: white;
}

section.winkel {
    display: flex;
    justify-content: space-evenly;
    margin: 1em;
    padding: 0.5em;
    align-items: center;
    text-align: left;
}

section.winkel p {
    padding-left: 3em;
}

article {
    background-color: #efefef ;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    text-align: center;
}

article p a:link {
    color:rgb(135, 118, 93);
}

article p a:hover {
    color:black;
}

article.quote h2 {
    color: white;
}

article.quote {
    background-color: black;
    color: white;
    text-align: center; 

}

article.kop_inspiratie {
    background-color: #c1b5aa;
}

article.trend_inspiratie {
    background-color: #c1b5aa;
}

article.vintagehome {
    background-color: #c1b5aa;
}

article.quote-upcyclen {
    background-color: #c1b5aa;
}

.winkel img {
    width: 20em;
    border: 0.3em solid #efefef;
}

video {
    padding-right: 1.5em;
}

footer {
    background-color: black;
    color: white;
    padding-top: 1%;
    padding-bottom: 4%;
    text-align: center;
}